# Enable rewrite engine
RewriteEngine On

# If a file or directory doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Exclude /uploads from the rewrite rules
RewriteCond %{REQUEST_URI} !^/uploads/

# Rewrite all requests to the Node.js application
RewriteRule ^(.*)$ app.js/$1 [L,QSA]